@charset "utf-8";
/* CSS Document */

* { font:'微软雅黑'; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -box-sizing: border-box; padding:0; margin:0; list-style:none; box-sizing: border-box; }
body, html { height:100%; overflow:auto; }
a { color:#27A9E3; text-decoration:none; cursor:pointer; }
img{ border:none;max-width:100%;}
ul,li{margin:0;padding:0;list-style:none;}
em,i{font-style: normal;}

.common-right-content{
    margin-left:240px;
}
.common-module-right{
   margin-left: 370px;
}
.el-table--mini, .el-table--small, .el-table__expand-icon{
	.el-dropdown{
		font-size:12px;
	}
}
.el-main{
  .el-select__tags-text{
    color:#333;
  }
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
	padding:10px !important;
}
.ant-table-tbody .fixed-width-title{
	// white-space: nowrap;
    width: 320px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
// .el-dialog__header{
//     border-bottom:1px solid #eee;
// }